.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 30px;
}
.add-delete-arrows {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.item-details {
  display: flex;
  flex-direction: column;
}
.cart-img {
  width: 30%;
}
.pointers {
  cursor: pointer;
  font-size: 28px;
}

.name {
  font-size: 16px;
}
