.cart-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 10px 5px 5px 30px;
  border: 1px solid black;
  background-color: white;
  z-index: 5;
  width: 400px;
  height: 500px;
  left: 900px;
  top: 100px;
}
.cart-items {
  height: 500px;
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: scroll;
}
.empty-message {
  font-size: 18px;
  margin: 50px auto;
}
.check-out-button {
  width: 150px;
  cursor: pointer;
  opacity: 0.9;
  background-color: white;

  height: 50px;

  font-size: 15px;
  text-transform: uppercase;
  background-color: #5ece7b;
  color: white;
  border: 1px solid black;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}
.checkout-button-container {
  display: flex;
}
.cart-items-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.cart-total-price {
  display: flex;
  justify-content: space-around;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
}
.total {
  font-weight: 600;
  font-size: 28px;
  color: #1d1f22;
}
.my-bag-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */

  text-align: right;

  color: #1d1f22;
}
.cart-header-text {
  margin-bottom: 10px;
}
.total-price-number {
  font-weight: 500;
  font-size: 28px;
  color: #1d1f22;
}
