@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.single-product {
  margin-left: 50px;
}
.product-container {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
}
.list-of-images-container {
  display: flex;
  flex-direction: column;
}
.main-img-container {
  padding: 30px;
}
.main-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
  margin-right: 100px;
}
.collection-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: left;
  position: relative;
  cursor: pointer;
  text-align: center;
}
.alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.out-of-stock {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}
.content {
  opacity: 0.6;
}
.product-details-container {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
.brand-name {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  text-align: left;
  margin-bottom: 20px;
}
.name {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  margin-bottom: 20px;
}
.attribute-container {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
.product-attribute-name {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  margin-bottom: 10px;
}
.attributes-list {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.single-product .colum img {
  padding: 0;
}
.single-product .colum {
  padding: 30px;
}
.side-img {
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: 1px 1px 1px rgb(219, 219, 219);
  margin: 10px;
  cursor: pointer;
}
.details-page-button-container {
  display: flex;
  align-content: center;
  margin: 20px;
}
.description-section {
  margin-right: 30px;
}
