.custom-button {
  width: 70%;
  max-width: 200px;
  opacity: 0.9;
  position: absolute;
  top: 300px;
  left: 50px;
  background-color: white;

  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  border: 1px solid black;
}
.custom-button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}
.detail-button {
  width: 70%;
  max-width: 200px;
  opacity: 0.9;
  background-color: white;
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #5ece7b;
  color: white;
  border: 1px solid black;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}
.detail-button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}
