.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 80px 80px;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.option {
  padding: 5px 30px;
  cursor: pointer;
}
.bag-logo {
  width: 45px;
  height: 41px;
  left: 699px;
  top: calc(50% - 41px / 2 + 4.5px);
}

.price-drop {
  font-size: 13px;
  background: #fff;
  background: white;
  border: none;
  outline: 0px;
}
.cart-price-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: end;
}
